---
// STATESONG Application Guide Page
// Note: Will be removed later to StateSong App webpage repo

// Layouts
import PageTemplate from "../layouts/PageTemplate.astro";

// Component Imports
import Divider from "../components/Divider.astro";

// Sections
// Main parts
// UI/UX extra bits

const title = "StateSong - Guide - 2022";
const description =
    "StateSong mobile application end-user guide for use with Empatica hardware";
const themeColor = "#FAFAFA";
---

<PageTemplate title={title} description={description} themeColor={themeColor}>
    <header
        class="flex flex-col m-2 p-2 md:max-w-lg md:mx-auto md:p-4 md:pb-0 font-montserrat text-base text-slate-600"
    >
        <p class="font-montserrat font-bold font text-lg leading-4">
            Empatica API Key Instructions
        </p>
        <p class="pt-4 text-xs text-slate-400">
            Please note: These instructions are from a mobile browser unless
            otherwise stated.
        </p>
        <Divider />
    </header>

    <article
        class="flex flex-col m-2 p-2 md:max-w-lg md:mx-auto md:p-4 md:pt-0 font-montserrat text-base text-slate-600"
    >
        <p class="font-montserrat font-bold text-base">
            1. Authenticate online with Empatica
        </p>
        <p class="pt-8 pb-2">In your browser, go to:</p>
        <a
            class="p-4 underline bg-slate-200"
            href="https://www.empatica.com/connect/login.php"
            target="_blank"
            >https://www.empatica.com/connect/login.php
        </a>
        <p class="pt-2">Log in using your email & password.</p>
        <p class="pt-4 text-xs text-slate-400">
            If you have not set up an E4 Connect account do so first with the
            Create Account link.
        </p>
        <div class="pt-4">
            <img src="./static/img/slide-1.png" alt="step-1 authenticate" />
        </div>
    </article>

    <article
        class="flex flex-col m-2 p-2 md:max-w-lg md:mx-auto md:p-4 font-montserrat text-base text-slate-600"
    >
        <p class="font-montserrat font-bold text-base">2. Get your API key</p>
        <p class="pt-8 pb-2">
            Make sure you are on the Home Page. Then click on the
            <strong>Developer</strong> link
        </p>
        <div class="pt-4">
            <img
                src="./static/img/slide-2.png"
                alt="step-2a developer section"
            />
        </div>
        <p>
            Once there, find the API Key under your Developer Profile section.
            It will be a 32 alpha-numeric sequence in the following format:
        </p>
        <p class="mt-4 mb-4 p-4 bg-slate-200">
            <strong>0000000aa0000000aaaa0000000a000a</strong>.
        </p>
        <p>
            Select & Copy the key from the API Key text input field. This will
            be used later in the StateSong application.
        </p>
        <p class="pt-8 pb-2 text-xs text-slate-400">
            Note: API Keys are associated with a specific device. Ensure that
            you have added your device purchase code on this page to link your
            E4 Device with this API Key.
        </p>
        <div class="pt-4">
            <img src="./static/img/slide-3.png" alt="step-2b copy API key" />
        </div>
    </article>

    <article
        class="flex flex-col m-2 p-2 md:max-w-lg md:mx-auto md:p-4 font-montserrat text-base text-slate-600"
    >
        <p class="font-montserrat font-bold text-base">
            3. Add your Key to the StateSong App
        </p>
        <p class="pt-8 pb-2">
            In the Statesong app the API Key dialog will come up on startup if
            you have not registered your key, you can also access this the API
            Key Dialog using the Devices menu item at any time.
        </p>
        <div class="pt-4 pl-4 pr-4">
            <img
                src="./static/img/api_key_menu.jpg"
                alt="step3a open Settings dialog in app"
            />
        </div>
        <p class="pt-8 pb-2">
            In the Statesong app API Key dialog screen paste your API Key&nbsp;
        </p>
        <div class="pt-4 pl-4 pr-4">
            <img
                src="./static/img/api_key_window.jpg"
                alt="step3b paste your Key"
            />
        </div>
    </article>
    <footer
        class="flex flex-col m-2 p-2 md:max-w-md md:mx-auto md:p-4 justify-center"
    >
        <Divider />
        <p class="font-montserrat font-bold text-sm leading-4 text-slate-400">
            MediMuse LLC
        </p>
        <p class="font-montserrat font-medium text-xs text-slate-300">© 2022</p>
    </footer>
</PageTemplate>
