---
// Layouts
import PageTemplate from "../layouts/PageTemplate.astro";

// Component Imports
// Sections
// Main parts
// UI/UX extra bits

const title = "MediMuse.io - 2022";
const description = "Developer and Artifact repository for MediMuse Software.";
const themeColor = "#FAFAFA";
---

<PageTemplate title={title} description={description} themeColor={themeColor}>
	<article class="flex flex-col h-full justify-center">
		<p class="font-montserrat font-bold font text-lg leading-4">
			MediMuse LLC
		</p>
		<p class="font-montserrat font-medium text-sm">© 2022</p>
		<p class="mt-2 font-montserrat font text-xs">
			medimuse.io · developer & artifact portal
		</p>
	</article>
</PageTemplate>
